/* 背景图铺满 + 固定 */
#web_bg {
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

/* 隐藏底部猜你想看 + 推荐友链 */
.hide-footer-widget {
    display: none !important;
}

/* 头像强制加载(跳过lazyload占位) */
.avatar-img img {
    opacity: 1 !important;
}

/* 去掉头像卡片装饰框 */
#aside-content .card-widget.card-info {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
.card-info-avatar .author-status-box {
    display: none !important;
}
.card-info-avatar {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
